#info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

#info h2{
    font-size: 150px;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main img{
    width: 300px;
}

.data{
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.weather{
    font-size: 60px;
}

.city{
    font-size: 40px;
}

.country{
    font-size: 25px;
}

.tempRange{
    font-size: 20px;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.searchBar input{
    width: 500px;
    height: 30px;
    
}

.searchBar button{
    height: 30px;
    width: 50px;
    background: darkslateblue;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 0px;
}

